:root{
    /* dark mode */
    --dark-font: #ffffff;
    --dark-bg: #000000;

    /* light mode */
    --light-font: #000000;
    --light-bg: #ffffff;

    --socio-color: #ffc900;

}

.darkBG{
    background-color: var(--dark-bg);
}

.darkBG > *{
    color: var(--dark-font);
}

.lightBG{
    background-color: var(--light-bg);
}

.lightBG > *{
    color: var(--light-font);
}

#home-component{
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

#home-navigation{
    border-right: solid 0.5px;
}

/* start */
/* sizing the home component based on navSize */

/* when navigation is max */

.maxNav{
    width: 15%;
    height: 100%;
    transition: width 0.3s ease;
}

.minBody{
    width: 85%;
    height: 100%;
    transition: width 0.3s ease;
}

#home-navigation,#home-body{
    height: 100%;
    box-sizing: border-box;
}

#home-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* when navigation is min */

.minNav{
    border: solid 1px;
    width: 10%;
    transition: width 0.3s ease;
}

.maxBody{
    border: solid 1px;
    width: 90%;
    transition: width 0.3s ease;
}

.nav-item{
    display: flex;
    align-items: center;
    font-size: 2vw;
    height: 12.5%;
    width: 90%;
}

.first-nav{
    align-self: start;
}

.activeNav > *{
    color: var(--socio-color);
}

.showP{
    display: block;
}

.hideP{
    display: none;
}

.nav-item > *{
    margin: 2%;
    cursor: pointer;
}

.nav-item > img{
    height: 90%;
}

.icon{
    width: 2vw;
    height: 2vw;
}

.icon > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.more-icon{
    position: relative;
}

.more-options{
    width: 120%;
    height: 100%;
    position: absolute;
    top: -75%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toggle-dark-light{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-div{
    width: 90%;
    display: flex;
    align-items: center;
}

.toggle-div > p{
    width: 50%;
    font-size: 1.5vw !important;
}

.toggle-button{
    width: 5vw;
    height: 2vw;
    margin-left: 3%;
    display: flex;
}

.toggle-button > *{
    width: 50%;
    height: 100%;
}

.on > p, .off > p{
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* sizing the home component based on navSize */
/* ends */

/* media queries */

@media screen and (max-width:600px) {

    #home-component{
        flex-direction: column-reverse;
    }

    #home-navigation{
        border: solid 1px;
        width: 100%;
        height: 8% !important;
    }

    #home-body{
        border: solid 1px;
        width: 100%;
        height: 92% !important;
        overflow: hidden;
    }

    #home-navigation{
        flex-direction: row;
    }

    .nav-item{
        width: 20%;
        height: 100%;
    }

    .nav-item > *{
        width: 100%;
        height: 100%;
    }

    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 8vw;
    }

    .icon > img{
        width: 8vw;   
        height: 8vw;
    }

    #mobile-view-section{
        width: 95%;
        height: 10% !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #mobile-view-section > img{
        height: 100%;
    }

}


@media screen and (min-width:768px) and (max-width:885px) {

    #home-component{
        flex-direction: column-reverse;
    }

    #home-navigation{
        border: solid 1px;
        width: 100%;
        height: 8% !important;
    }

    #home-body{
        border: solid 1px;
        width: 100%;
        height: 92% !important;
        overflow: hidden;
    }

    #home-navigation{
        flex-direction: row;
    }

    .nav-item{
        width: 20%;
        height: 100%;
    }

    .nav-item > *{
        width: 100%;
        height: 100%;
    }

    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 8vw;
    }

    .icon > img{
        width: 8vw;   
        height: 8vw;
    }

    #mobile-view-section{
        width: 95%;
        height: 10% !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #mobile-view-section > img{
        height: 100%;
    }
    
}