:root{
    /* dark mode */
    --dark-font: #ffffff;
    --dark-bg: #000000;

    /* light mode */
    --light-font: #000000;
    --light-bg: #ffffff;

    --socio-color: #ffc900;

}

#profile-container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#profile-top{
    width: 80%;
    height: 15vw;
    border: solid 1px white;
}

#profile-bottom{
    width: 80%;
    height: calc(100% - 15vw - 5px);
    border: solid 1px white;
}

@media screen and (max-width:600px) {
    #profile-container{
        height: 100%;
        border: solid 1px red;
        position: absolute;
        top: 0;
        background-color: #000000;
    }

    #profile-top{
        width: 100%;
        height: 30vw !important;
    }

    #profile-bottom{
        width: 100%;
        height: calc(100% - 30vw);
    }
}

@media screen and (min-width:600px) and (max-width:885px) {
    #profile-container{
        height: 100%;
        border: solid 1px red;
        position: absolute;
        top: 0;
        background-color: #000000;
    }

    #profile-top{
        width: 100%;
        height: 30vw !important;
    }

    #profile-bottom{
        width: 100%;
        height: calc(100% - 30vw);
    }
}